.bouton{
          cursor: pointer;
          background-color:#3498DB;
          color:white;
          text-decoration:none;
          padding: 10px 50px;
          border-radius:100px;
          font-family:'Train One',cursive;
          border-bottom:5px solid #2980B9;
          transition:all .1s;
          -webkit- transition:all .1s;
          float: left;
}    

.bouton:active{
  
            transform: translate(0, 5px);
            -webkit-transform: translate(0, 5px);
            border-bottom:1px solid;
  
  
}

body{
    background-color: yellow;
}
.bouton2{
          cursor: pointer;
          background-color:#3498DB;
          color:white;
          text-decoration:none;
          padding: 10px 50px;
          border-radius:100px;
          font-family:'Train One',cursive;
          border-bottom:5px solid #2980B9;
          transition:all .1s;
          -webkit- transition:all .1s;
          float: left;
}    

.bouton2:active{
  
            transform: translate(0, 5px);
            -webkit-transform: translate(0, 5px);
            border-bottom:1px solid;
}

.div1{
        background-color: blue;
}

body{
      height: 500vh;
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-track{
  background-color:#e5e5e5;
}

body::-webkit-scrollbar-thumb{
  background-color: #5c2a9b;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #b5076b;
}


p{
  text-shadow : 3px -3px 4px
  
}
.titre1{
  text-transform: uppercase ;
  text-align:center;
  background-color: red;
  border-width : 5px;
}
