.bouton{
          cursor: pointer;
          background-color:#3498DB;
          color:white;
          text-decoration:none;
          padding: 10px 50px;
          border-radius:100px;
          font-family:'Train One',cursive;
          border-bottom:5px solid #2980B9;
          transition:all .1s;
          -webkit- transition:all .1s;
          float: left;
}    

.bouton:active{
  
            transform: translate(0, 5px);
            -webkit-transform: translate(0, 5px);
            border-bottom:1px solid;
  
  
}

body{
    background-color: yellow;
}
.bouton2{
          cursor: pointer;
          background-color:#3498DB;
          color:white;
          text-decoration:none;
          padding: 10px 50px;
          border-radius:100px;
          font-family:'Train One',cursive;
          border-bottom:5px solid #2980B9;
          transition:all .1s;
          -webkit- transition:all .1s;
          float: left;
}    

.bouton2:active{
  
            transform: translate(0, 5px);
            -webkit-transform: translate(0, 5px);
            border-bottom:1px solid;
}